body {
background-color:rgb(78, 199, 199);
}
.subtile{
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font size: 2px;
  margin: 10vw ;
}
  #main {
padding: 20px, 50,;
  }
.content{

}
.main-para {

}

.para-1{

}
# image 1{

}
.side bar{
  display:flexbox ;
}
